{% extends 'base.html.twig' %}

{% block title %}TravelGroup - Accueil{% endblock %}

{% block stylesheets %}
    {% include "stylesheets.html.twig" %}
    <!-- Custom CSS -->
    <style type="text/css">
        html,
        body,
        .view {
            height: 100%;
        }

        .top-nav-collapse{
            background-color:#f4511e;
        }

        @media (max-width: 740px) {
            html,
            body,
            header,
            .view {
                height: 1000px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            html,
            body,
            header,
            .view {
                height: 650px;
            }
        }
        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331!important;
            }
        }
    </style>
{% endblock stylesheets %}

{% block body %}

    <div class="view full-page-intro" style="background-image: url('https://subocea.com/uploads/media/default/0001/06/bfc30bb9b301035b2c486b14d6ff6980b758cc5a.jpeg'); background-repeat: no-repeat; background-size: cover;">
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row wow fadeIn">
                    <div class="col-md-6 mb-4 white-text text-center mx-auto">
                        <h1 class="display-4 font-weight-bold">TravelGroup</h1>
                        <hr class="hr-light">
                        <p>
                            <strong>La plateforme d'organisation de voyage simple et efficace</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="container mt-5 pt-5">

        <section class="row wow fadeIn animated">
            
            <div class="col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" class="img-fluid z-depth-1-half" alt="">
            </div>
            
            <div class="col-md-6 mb-4">
                <h3 class="h3 mb-3">Un jeu d'enfant</h3>
                <p>Grâce à <strong>TravelGroup</strong>, organiser son voyage n'aura jamais été aussi facile.</p>
                <p>Read details below to learn more about MDB.</p>
                <hr>
                <p>
                    <strong>400+</strong> material UI elements,
                    <strong>600+</strong> material icons,
                    <strong>74</strong> CSS animations, SASS files, templates, tutorials and many more.
                    <strong>Free for personal and commercial use.</strong>
                </p>
                
                <a target="_blank" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" class="btn btn-indigo btn-md">Download
                    <i class="fas fa-download ml-1"></i>
                </a>
                <a target="_blank" href="https://mdbootstrap.com/docs/jquery/components/" class="btn btn-indigo btn-md">Live demo
                    <i class="far fa-image ml-1"></i>
                </a>

            </div>
            <!--Grid column-->
        </section>

        <hr class="my-3">

        <section class="row">
            
            <div class="col-4">
                <div class="card mb-3">
                    <div class="view overlay">
                        <div class="embed-responsive embed-responsive-16by9 rounded-top">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen=""></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">MDB Quick Start</h4>
                        <p class="card-text">Get started with MDBootstrap, the world's most popular Material Design framework
                            for building
                            responsive, mobile-first sites.</p>
                        <p class="card-text">
                            <strong>5 minutes, a few clicks and... done. You will be surprised at how easy it is.</strong>
                        </p>
                    </div>
                </div>
            </div>

        </section>

    </main>
{% endblock %}
