{% extends 'base.html.twig' %}

{% block title %}TravelGroup - Accueil{% endblock %}

{% block stylesheets %}
    {% include "stylesheets.html.twig" %}
    <!-- Custom CSS -->
    <style type="text/css">
        html,
        body,
        .view {
            height: 100%;
        }

        .top-nav-collapse{
            background-color:#f4511e;
        }

        @media (max-width: 740px) {
            html,
            body,
            header,
            .view {
                height: 1000px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            html,
            body,
            header,
            .view {
                height: 650px;
            }
        }
        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331!important;
            }
        }
    </style>
{% endblock stylesheets %}

{% block body %}

    <div class="view full-page-intro" style="background-image: url('https://subocea.com/uploads/media/default/0001/06/bfc30bb9b301035b2c486b14d6ff6980b758cc5a.jpeg'); background-repeat: no-repeat; background-size: cover;">
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row wow fadeIn">
                    <div class="col-md-6 mb-4 white-text text-center mx-auto">
                        <h1 class="display-4 font-weight-bold">TravelGroup</h1>
                        <hr class="hr-light">
                        <p>
                            <strong>La plateforme d'organisation de voyage simple et efficace</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="container mt-5 pt-5">

        <section class="row wow fadeIn animated">
            
            <div class="col-md-6 mb-4">
                <img src="https://www.acs-ami.com/fr/blog/wp-content/uploads/2015/07/inspiration-voyage.jpg" class="img-fluid z-depth-1-half" alt="">
            </div>
            
            <div class="col-md-6 mb-4">
                <h3 class="h3 mb-3">Organiser son voyage ? Un jeu d'enfant</h3>
                <p>Grâce à <strong>TravelGroup</strong>, organiser son voyage n'aura jamais été aussi facile.</p>
                <p>Invitez vos amis et organisez le plus beau des voyages.</p>
                <hr>
                <p>
                    <div class="row">
                        <div class="col">
                            <strong>Inscrivez</strong>-vous<br>
                            <strong>Créez</strong> votre voyage<br>
                            <strong>Invitez</strong> vos amis<br>
                        </div>
                        <div class="col">
                            <strong>Ajoutez</strong> des activités<br>
                            <strong>Vivez</strong> votre voyage<br>
                            <strong>Rêvez</strong> les yeux ouverts
                        </div>
                    </div>
                </p>
                
                <a href="{{ path('fos_user_registration_register') }}" class="btn deep-orange darken-1 text-white btn-md mx-auto">
                    Rejoindre l'aventure
                    <i class="fas fa-sign-in-alt"></i>
                </a>

            </div>
            <!--Grid column-->
        </section>

        <hr class="my-5">

        <section class="wow fadeIn animated">

            <h3 class="h3 text-center mb-5">Qui sommes-nous ?</h3>
    
            <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div class="col-lg-6 col-md-12 px-4">

                    <div class="row">
                        <div class="col-1 mr-3">
                            <i class="fas fa-star fa-2x text-danger"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">De grands rêveurs</h5>
                            <p class="grey-text">Rêver, c'est bien. Réaliser ses rêves, c'est mieux.</p>
                        </div>
                    </div>
        
                    <div class="my-3"></div>
        
                    <div class="row">
                        <div class="col-1 mr-3">
                            <i class="fas fa-book fa-2x blue-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Des rêveurs professionnels</h5>
                            <p class="grey-text">Vous aidez à réaliser le meilleur des voyages ? C'est notre métier.
                            </p>
                        </div>
                    </div>
        
                    <div class="my-3"></div>
        
                    <!--Third row-->
                    <div class="row">
                        <div class="col-1 mr-3">
                            <i class="fas fa-graduation-cap fa-2x cyan-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Une équipe de deux rêveurs ...</h5>
                            <p class="grey-text">... qui ne demande qu'à s'aggrandir !</p>
                        </div>
                    </div>
        
                </div>
                
                <div class="col-lg-6 col-md-12">
                    <p class="h5 text-center mb-4">Une invitation au voyage...</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IZ6jD6l_lMU" allowfullscreen=""></iframe>
                    </div>
                </div>
    
            </div>
            <!--/Grid row-->
    
        </section>

    </main>
{% endblock %}
