{% extends 'base.html.twig' %}

{% block title %}TravelGroup - Accueil{% endblock %}

{% block body %}

    <main class="container-fluid mt-5 pt-5">
        <section class="card mdb-color stylish-color wow fadeIn animated">

            <!-- Content -->
            <div class="card-body text-white text-center py-5 px-5 my-5">
    
                <h1 class="mb-4">
                    <strong>Bienvenue sur TravelGroup</strong>
                </h1>
                <p class="mb-4">
                    Sur TravelGroup, organisez vos voyages et leurs activités simplement grâce à une interface développée et pensée à cet effet
                </p>
                <a href="{{ path('voyage_index') }}" class="btn btn-outline-white btn-lg waves-effect waves-light">
                    Voir les voyages en cours
                    <i class="fas fa-plane ml-2"></i>
                </a>
    
            </div>
            <!-- Content -->
        </section>
    </main>
{% endblock %}
