<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% include "stylesheets.html.twig" %}
        {% endblock %}
    </head>
    <body>
        <header>
            {{ include('nav.html.twig') }}
        </header>
        {% block body %}
        {% endblock %}

        {% block javascripts %}
            {% include "javascripts.html.twig" %}
        {% endblock %}
    </body>
</html>
