<footer class="page-footer mdb-color deep-orange darken-2 text-center font-small mt-4 wow fadeIn">

    <div class="pt-4">
        <a class="btn btn-outline-white waves-effect waves-light" href="{{ path('fos_user_security_login') }}" role="button">
            Connexion
            <i class="fas fa-user ml-2"></i>
        </a>
        <a class="btn btn-outline-white waves-effect waves-light" href="{{ path('voyage_index') }}" role="button">
            Voir les voyages
            <i class="fas fa-plane ml-2"></i>
        </a>
    </div>

    <div class="footer-copyright py-3">
        Copyright &copy; TravelGroup - {{ "now"|date("Y") }}
    </div>

</footer>