{% extends 'base.html.twig' %}

{% block title %}New Voyage{% endblock %}

{% block stylesheets %}
    {% include 'renav.html.twig' %}
{% endblock %}


{% block body %}
    <h1>Plannifier son voyage</h1>

    {{ include('voyage/_form.html.twig') }}
{% endblock %}
