{% extends 'base.html.twig' %}

{% block title %}New Voyage{% endblock %}

{% block stylesheets %}
    {% include 'renav.html.twig' %}
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="text-center mt-5">Plannifier son voyage</h1>

    {{ include('voyage/_form.html.twig') }}
</div>
{% endblock %}
